* {
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    padding: 60px;
    align-items: center;
    background-color: #1d4b57e0;
    color: white;
}

.div-icone-cabecalho {
    display: flex;
    align-items: center;
}

.div-icone-cabecalho i {
    margin-right: 10px;
    font-size: 50px;
    color: #00111b;
}

.div-icone-cabecalho i:hover {
    font-size: 60px;
    transition: 0.9s;
}
h1:hover {
    font-size: 40px;
    transition: 0.9s;
    cursor: pointer;
}
.lista-cabecalho {
    display: flex;
    list-style: none;
}

.lista-cabecalho li {
    margin-left: 14px;
    font-size: 18px;
}

.lista-cabecalho li {
    margin-left: 14px;
    font-size: 18px;
}

.lista-cabecalho a {
    text-decoration: none;
    color: white;
}

h2 {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    color: black;
}

.div-cartaz img {
    max-width: 100%;
    height: 300px;
    width: 300px;
    display: block;
    border-radius: 30px;
    cursor: pointer;
}

.div-cartaz {
    text-align: center;
    display: flex;
    max-width: 700px;
    margin: 0 auto;
    text-align: center;
    flex-wrap: wrap; 
}

.div-cartaz div {
    margin: 10px;
    flex: 1 1 200px;
}

.sessao-fundo {
    background-image: url(imagens/fundo\ sessao.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 950px;
}

.sessao-texto {
    padding: 100px;
    text-align: justify;
    font-size: 17px;
    background-color: #0f2e39;
    color: white;
}

.rodape {
    display: flex;
    padding: 60px;
    justify-content: space-evenly;
    background-color: #1d4b57;
    color: white
}

.lista-rodape {
    display: flex;
    list-style: none;

}

.lista-rodape li {
    margin-left: 50px;
    font-size: 25px;
}

.lista-rodape a {
    text-decoration: none;
    color: white;
}

.div-icone-rodape i {
    background-color: #1d4b57;
    margin-left: 7px;
    font-size: 20px;
    text-decoration: none;
    color: white;
    padding: 2px;
}

.div-icone-rodape i:hover {
    background-color: #00111b;
    color: white;
    margin-left: 7px;
    
    transition: 0.8s;
    padding: 5px;
}

.lista-rodape a:hover {
    color: black;
    background-color: white;
    padding: 10px;
    transition: 0.58s;
    border-radius: 30px;
}

.lista-cabecalho a:hover {
    color: black;
    background-color: white;
    padding: 10px;
    transition: 0.58s;
    border-radius: 30px;
}

/* https://paletadecores.com/paleta/1d4b57/163d48/0f2e39/07202a/00111b/ */